body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    border: 5px maroon solid;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: black;
}

/* a:visited{
    color: green;
} */

header{
    color: darkred;
    background-color: darkkhaki;
    text-align: center;
    padding: 1px;
}

h3{
    padding: 0;
    margin: 0;
}

article{
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid;
    border-color: rgb(105, 49, 39);
}

section{
    background-color: aqua;
}

summary{
    padding: 10px;
    background-color: coral;
    border: 2px darkred solid;
}

.clr{
    clear: both;
}

.form-top{
    padding: 10px;
    
}

.form-group label{
    display: block;
}

.form-group input, .form-group textarea, .form-group select{
    width: 100%;
}

.form-button{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: green;
    background-color: rgb(137, 235, 137);
}

.form-button:hover{
    color: black;
    background-color: rgb(26, 165, 26);
}

.box-side-by-side{
    float: left;
    width: 50%;
}


.maindiv{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.navbar{
    float: left;
    width: 20%;
    height: 100%;
    position: absolute;
    background-color: maroon;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: center ;
    line-height: 2em;
}
.main-body{
    float: right;
    width: 80%;
    right: 0;
}