#education-tab-content{
    flex-direction: column;
    padding-bottom: 0;
}

#education-tab-content .education-content{
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - (1rem / 3)));
    grid-column-gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.education-entry{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.education-entry-content{
    opacity: 0.7;
    width: 80%;
    height: 90%;
    background-color: white;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 2rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

#education-tab-content #iitk{
    background-image: url('../images/iitk2.jpeg');
}

#education-tab-content #gps-kota{
    background-image: url('../images/gpskota.webp');
}

#education-tab-content #ca-bhilwara{
    background-image: url('../images/cabhilwara.jpeg');
}

.education-entry-name{
    /* height: 30%; */
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.education-entry-time{
    font-weight: 100;
    font-size: 1.1rem;
}

.education-entry-details{
    /* height: 20%; */
    font-weight: 100;
    font-size: 1.4rem;
}

.education-entry-details strong{
    line-height: 2;
}

.education-entry-courses{
    /* height: 50%; */
    font-size: 1.1rem;
    padding-top: 0.5rem;
}

.education-entry-courses ul{
    /* list-style: none; */
    font-size: 0.9rem;
    padding-left: 1rem;
}

.education-entry-courses ul li{
    padding-top: 0.1rem;
}