/* #experience-tab-content{
    flex-direction: column;
    padding: 2rem 8rem;
}

#experience-tab-content .experience-entry{
    width: 50%;
    margin: 0 auto;
    background-color: var(--base-color-dark);
}

#experience-tab-content .experience-entry-name{
    height: 10rem;
    opacity: 0.9;
    position: relative;
    border: 5px solid var(--base-color-dark);
}

#experience-tab-content .experience-entry-image{
    width: 100%;
    height: 100%;
}

#amazon {
    background-image: url('../images/amazon2.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#iitkcse{
    background-image: url('../images/cse-iitk.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#experience-tab-content .white-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.1;
}

#experience-tab-content .experience-entry-name .name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: var(--base-color-dark);
    z-index: 2;
}

#experience-tab-content .experience-entry-description{
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

#experience-tab-content .experience-entry-time{
    font-size: 0.9rem;
    font-weight: 100;
} */

#experience-tab-content {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    
}

#amazon{
    margin-top: auto;
}

#iitkcse{
    margin-bottom: auto;
}

.experience-entry{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}

.experience-entry .date{
    width: 25%;
    text-align: center;
    padding: 2rem 1rem 0 0;

}

.experience-entry .date p{
    transform: translateY(-50%);
    padding: 0.5rem 0;
    background-color: var(--base-color-dark-faded);
    border: 2px solid var(--base-color-dark);
    position: relative;
}

.experience-entry .date p svg{
    position: absolute;
    stroke: var(--base-color-dark);
    stroke-width: 3px;
    height: 3px;
    transform: translateY(-100%);
}

.experience-entry .timeline{
    width: 15%;
    /* height: 10rem; */
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .experience-entry .timeline .top-line{
    height: 4rem;
    
} */

.experience-entry .timeline .image{
    /* height: 40%; */
    width: 80%;
    overflow:  hidden;
    border: 2px solid var(--base-color-dark);
    border-radius: 50%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#amazon .image{
    background-image: url(../images/amazon.png);
}

#iitkcse .image{
    background-image: url('../images/iitklogo.png');
}

.experience-entry .timeline .bottom-line{
    height: 4rem;
    width: 100%;
}

.experience-entry .timeline .bottom-line svg{
    width: 100%;
    height: 100%;
    stroke: var(--base-color-dark);
    fill: var(--base-color-dark);
    stroke-width: 3px;
}

/* #iitkcse .bottom-line svg{
    stroke-width: 0;
} */

.timeline .horizontal-line{
    position: absolute;
    height: 3px;
    width: 3rem;
    left: 0;
    top: 0;
    stroke: var(--base-color-dark);
    stroke-width: 3px;
    transform: translateY(-50%);
}

.entry-description .entry-description-text{
    border: 2px solid var(--base-color-dark);
    background-color: var(--base-color-dark-faded);
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
}

.entry-description h1{
    color: var(--base-font-color);
}

.entry-description h2{
    font-size: 1.1rem;
    font-weight: 100;
    padding-bottom: 1rem;
    color: var(--base-font-color);
}

.entry-description{
    width: 60%;
    color: var(--base-font-color-dark);
}

