@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@500&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    padding: 0;
    margin: 0;
}
/* Body */

.body {
    background-color: rgb(173, 175, 236);
}

.body-card {
    width: 95%;
    height: 92vh;
    margin: 4vh auto;
    background-color: rgb(32, 33, 68);
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;

}


/* Header */
.header{
    height: 12%;
    /* border: 2px solid black; */
    background-color: rgb(20, 21, 43);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header .heading {
    width: 30%;
    text-align: left;
    padding-left: 3rem;
    margin: auto;
    font-family: 'Kaushan Script', cursive;
}

.header .short-heading{
    margin: auto;
    font-family: 'Kaushan Script', cursive;
    padding-left: 1rem;
    display: none;
}

.header .tab-container{
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header .tab{
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;
    margin: 0 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.header .tab.fun-side-tab{
    width: 20%;
}

.header .tab-icon{
    height: 65%;
    padding-top: 0.8rem;
    width: 100%;
    margin: auto;
    font-size: 1rem;
    box-sizing: border-box;
}

.header .tab-icon svg{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;
    margin: auto;
    fill: white;
}

.header .tab-name{
    height: 35%;
    font-size: 0.8rem;
}

.header .tab.active{
    border-bottom: 2px solid rgb(55, 143, 243);
    color: rgb(55, 143, 243);
}

.header .tab.active svg{
    fill: rgb(55, 143, 243);
}

.header .tab:hover{
    border-bottom: 2px solid white;
}

/* Sections */
.section{
    height: 88%;
    box-sizing: border-box;
}

/* Home Section */
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1rem 2rem;
}

.home .intro{
    width: 60%;
    text-align: left;
    padding-left: 10rem;
    box-sizing: border-box;
    height: 100%;
    padding-top: 10rem;
}

.home .intro h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    text-align: left;
}

.home .intro p{
    padding: 1rem 0;
    font-size: 1.2rem;
}

.home .dp{
    width: 40%
}

/* The Fun Side */


@media(max-width : 971px){
    .header h1{
        font-size: 1.7rem;
    }
}

@media(max-width : 750px){
    .header .short-heading{
        display: grid;
    }

    .header .heading{
        display: none;
    }

    .header .tab-name{
        display: none;
    }
}