@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root{
    --base-color: rgb(24, 26, 66);
    --base-color-dark: rgb(17, 18, 36);
    --base-color-light: rgb(30, 129, 243);
    --base-color-lighter: rgb(129, 188, 255);
    --base-color-contrast: rgb(30, 129, 243);
    
    --hyperlink-color: rgb(1, 209, 209);
    --hyperlink-color-dark: rgb(0, 255, 221);

    --base-font-color : rgb(214, 226, 236);
    --base-font-color-dark : rgb(119, 119, 119);

    --github-icon-color: rgb(0,0,0);
    --linkedin-icon-color: rgb(10,102,194);
    --instagram-icon-color: rgb(247,80,60);
    --facebook-icon-color: rgb(45,136,255);

    --skill-bar-background: rgb(17, 18, 36);
    --skill-bar-fill: rgb(164, 209, 0);
    
    /* --base-font-style : 'Roboto', sans-serif; */
    --base-font-style : 'Arvo', serif;
    --cursive-font-style : 'Kaushan Script', cursive;


    --header-height : 10%;
    --content-height : 87.5%;
    --footer-height : 2.5%;
}

* {
    box-sizing: border-box;
    z-index: 0;
    padding: 0;
    margin: 0;
}

/* Body */
.body {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: var(--base-color);
    color: var(--base-font-color);
    font-family: var(--base-font-style);
}

.hyperlink{
    text-decoration: none;
    color: var(--hyperlink-color);
    transition: color 0.5s;
}

.hyperlink:hover{
    color: var(--hyperlink-color-dark);
}

.light-font{
    color: var(--base-color-lighter);
}

/* Header */
.header{
    height: var(--header-height);
    /* border: 2px solid black; */
    background-color: var(--base-color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header .heading {
    width: 30%;
    text-align: left;
    padding-left: 2rem;
    padding-right: 1.5rem;
    margin: auto;
    font-family: var(--cursive-font-style);
    font-size: 2.5rem;
    line-height: 1;
}

.header .short-heading{
    width: 20%;
    text-align: left;
    margin: auto;
    font-family: var(--cursive-font-style);
    font-size: 2.5rem;
    display: none;
}

.header .heading-text{
    /* color: rgb(255, 255, 93); */
    /* transform: translateX(-400px); */
}

.header .heading-text.heading-entry-animate{
    animation: heading-entry 1s;
    animation-fill-mode: forwards;
}

@keyframes heading-entry {
    from {
        color: white;
    }
    to {
        color: yellow;
    }
}

.header .tab-container{
    width: 70%;
    height: 100%;
    margin-top: auto;
    /* padding: 0 2rem 0 0; */
    display: flex;
    flex-direction: row;
    /* align-items: center;
    align-content: center;
    text-align: center; */
}

.header .tab{
    display: flex;
    flex-direction: column;
    width: 14%;
    height: 90%;
    margin-top: auto;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 2px solid var(--base-color-dark);
    transition: border-bottom 0.5s, height 0.5s;
}

.header .tab.contact-tab{
    width: 16%;
}

.header .tab-icon{
    height: 70%;
    padding-top: 0.6rem;
    width: 100%;
    margin: auto;
    font-size: 1rem;
    box-sizing: border-box;
}

.header .tab-icon svg{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;
    margin: auto;
    fill: var(--base-font-color);
}

.header .tab-name{
    height: 30%;
    font-size: 0.7rem;
}

.header .tab.active{
    height: 100%;
    border-bottom: 2px solid var(--base-color-light);
    color: var(--base-color-light);
}

.header .tab.active svg{
    fill: var(--base-color-light);
}

.header .tab:hover{
    border-bottom: 2px solid var(--base-font-color);
    height: 100%;
}

.header .tab.active:hover{
    border-bottom: 2px solid var(--base-color-lighter);
}

/* Sections */
.section-window{
    width: 100%;
    height: var(--content-height);
    overflow: hidden;
    position: relative;
}

.sections-container{
    height: 100%;
    width: 700%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    left: 0;
    transition: left 1s;
    padding-bottom: 1rem;
}

.section {
    display: flex;
    width: 14.28%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    overflow: scroll;
}

.section.show-section {
    display: flex;
}

/* Footer */
.footer {
    height: var(--footer-height);
    background-color:black;
    color: rgb(138, 138, 138);
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: row;
}

.footer-text{
    width: 50%;
    margin: auto;
}

.view-count{
    width : 50%;
    text-align: right;
}