/* Loading Screen */
.loading-screen{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--base-color-dark);
    z-index: 10000;
    display: flex;
}

.loading-icon{
    margin: auto;
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(10, 2rem);
}

.loader-letter{
    color: var(--base-color-lighter);
    text-align: center;
    margin-top: auto;
    font-size: 3rem;
    animation: loader-letter-size, loader-letter-color;
    animation-duration: calc(0.3s + 1.2s);
    animation-delay: calc(0.1s * var(--letter-idx));
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes loader-letter-size{
    0% {
        font-size: 3rem;
    }
    10% {
        font-size: 3.5rem;
    }
    20% {
        font-size: 3rem;
    }
    100% {
        font-size: 3rem;
    }
}

@keyframes loader-letter-color {
    0% {
        color: var(--base-color-lighter);
    }
    10% {
        color: var(--base-color-light);
    }
    20% {
        color: var(--base-color-lighter);
    }
    100% {
        color: var(--base-color-lighter);
    }
}

.disappear-animation{
    animation: offscreen 0.2s;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes offscreen{
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

